<!DOCTYPE html>
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">

<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
var app = angular.module("myShoppingList", []);
app.controller("myCtrl", function($scope) {
    $scope.clickButton = function () {
            $scope.successtext = "Success!";
    }

});

</script>

<body>

<div class="w3-container w3-teal w3-center" style="width:50%">
    <h1>Registration page</h1>
</div>

<form class="w3-container w3-card-4 w3-light-grey" name="myForm" ng-app="registration"
      ng-controller="validateCtrl" novalidate style="width:50%">
    <div class="w3-cell-row">
        <div class="w3-container w3-cell">
            <div>
                <label for="name">Name</label><br>
                <input class="w3-border-0" id="name" name="name" required type="text"/>
            </div>
            <label for="email">Email</label><br>
            <input class="w3-border-0" id="email" name="email" ng-model="email" required type="email">
            <div id="emailAlert" role="alert">
                <span ng-show="myForm.email.$dirty && myForm.email.$invalid" style="color:red"/>
                <span ng-show="myForm.email.$error.required">Email is required.</span>
                <span ng-show="myForm.email.$error.email">Invalid email address.</span>
            </div>
            <div>
                <label for="country">Country</label><br>
                <select class="w3-border-0" id="country" ng-change="getSelectedCountry()"
                        ng-model="countrySrc"
                        ng-options="country for (country, cities) in countries" required>
                    <option value=''></option>
                </select>
            </div>
            <div>
                <label for="city">City</label><br>
                <select class="w3-border-0" id="city" ng-disabled="!countrySrc" ng-model="citySrc"
                        ng-options="city for city in countrySrc" required>
                    <option value=''></option>
                </select>
            </div>
        </div>
    </div>
    <div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" class="w3-card-4 w3-margin w3-padding-small w3-left">
    <button id="buttonToClick" ng-click="clickButton()" class="w3-btn w3-padding w3-teal">Button</button>
        <p class="successMessage w3-text-green">{{successtext}}</p>

    </div>
    <p>
        <input ng-disabled="myForm.$invalid" onclick="postYourAdd()" type="submit">
    </p>
    <iframe data-src="forIframe.html" id="successFrame" style="border:0;">
    </iframe>

    <script>
function postYourAdd () {
    var iframe = $("#successFrame");
    iframe.attr("src", iframe.data("src"));
}


    </script>
</form>

<script>
var app = angular.module('registration', []);
app.controller('validateCtrl', function($scope) {
     $scope.countries = {
            'Spain': ['Malaga','Madrid','Valencia','Corralejo'],
            'Estonia': ['Tallinn', 'Haapsalu', 'Tartu'],
            'Austria': ['Vienna', 'Salzburg', 'Innsbruck']
          };

          $scope.getSelectedCountry = function() {
            $scope.strCountry = $scope.countrySrc;
          };
});


</script>

</body>
</html>
